.searchVodka {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.input {
  display: block;

  width: 100%;
  height: 40px;
  padding: 4px;

  border: none;
  border-radius: var(--brdr-rad-min);

  background-color: var(--dark-color-background);

  transition: box-shadow 300ms ease-out;

  &::placeholder {
    color: var(--dark-color-tag-green-color);
    font-size: 16px;
  }
}

.inputError {
  position: relative;

  border: 2px solid var(--dark-color-tag-red-color);
}

.input:focus {
  border: 2px solid var(--dark-color-tag-green-border);

  outline: none;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
}

@media (width >= 768px) {
  .input {
    height: 52px;
  }
}
