.vodka {
  display: flex;
  flex-direction: column;

  gap: 10px;

  width: 100%;
  height: 100%;
}

.vodkaWelcome {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--brdr-rad);
  background-color: var(--dark-color-surface-100);
  padding: var(--pd);
}
