.buttonIcon {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 4px;

  border: 2px solid var(--dark-color-tag-green-border);
  border-radius: 4px;
  aspect-ratio: 1 / 1;

  transition: all 300ms ease-out;
}

.green {
  background-color: transparent;
}

.red {
  border: 2px solid var(--dark-color-tag-red-color);

  background-color: transparent;
}

.lightgreen {
  border: 2px solid var(--dark-color-tag-green-color);

  background-color: transparent;
}

@media (hover: hover) {
  .buttonIcon:hover {
    background-color: var(--dark-color-tag-green-color);

    &.red {
      background-color: var(--dark-color-tag-red-border);
    }

    &.lightgreen {
      background-color: var(--dark-color-tag-green-border);
    }
  }
}
