.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px 12px;

  border-radius: var(--brdr-rad);

  background-color: var(--dark-color-tag-green-border);

  transition: all 300ms ease-out;

  &:disabled {
    background-color: var(--dark-color-tag-green-color);
  }
}

.buttonActive {
  background-image: var(--bgr-img-g);
}

@media (width >= 768px) {
  .button {
    padding: 15px 20px;
  }
}

.arrow path {
  fill: var(--dark-color-tag-green-color);

  transition: fill 300ms ease-out;
}

@media (hover: hover) {
  .button {
    &:hover {
      &:enabled {
        font-weight: normal;

        background-color: var(--dark-color-tag-green-color);

        transition: all 300ms ease-out;

        & .arrow path {
          fill: var(--clr-blue);

          transition: fill 300ms ease-out;
        }
      }
    }
  }
}
