.vodkaControlPanel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  padding: 10px;

  border: 1px dashed var(--clr-blue);
  border-radius: 4px;
  width: 100%;
}
