.vodkaControlPanel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: var(--pd);

  border-radius: var(--brdr-rad);

  background-color: var(--dark-color-surface-100);
}
