.vodkaControlPanel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  padding: var(--pd);
  background-color: var(--dark-color-surface-100);
  width: 100%;

  border-radius: var(--brdr-rad);
}
