.sortVodka {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  text-align: start;
}

.select {
  height: 40px;
  padding: 4px 4px;

  color: var(--dark-color-tag-green-color);

  border: none;
  border: 2px solid transparent;
  border-radius: var(--brdr-rad-min);

  background-color: inherit;

  appearance: none;
  transition: box-shadow 300ms ease-out;

  &:focus {
    border: 2px solid var(--dark-color-tag-green-border);
    outline: none;
  }
}

@media (width >= 768px) {
  .select {
    height: 52px;
  }
}
