.cardButtonsContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.deleteModal {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 4px;
}
