.vodkaCollectionCard {
  display: grid;
  grid-template-columns: minmax(130px, 1fr) minmax(140px, 1.3fr);
  gap: 8px;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  padding: 10px;

  text-align: start;

  border-radius: var(--brdr-rad);

  background-color: var(--dark-color-background);

  overflow: hidden;
}

.vodkaInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  padding-top: 10px;

  text-align: start;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.miniTitle {
  font-weight: 500;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: transparent;

  aspect-ratio: 1 / 1;
}

.image {
  width: 100%;
  height: 100%;

  border-radius: var(--brdr-rad);

  object-fit: cover;
}
