.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;

  width: 100%;
  padding-bottom: 10px;

  text-align: start;
}

.select {
  width: 100%;
  height: 32px;
  padding: 4px;

  color: var(--clr-blue);

  border: none;
  border-top: 1px dashed var(--clr-blue-l);
  border-right: 2px solid var(--clr-blue-l);
  border-bottom: 1px dashed var(--clr-blue-l);
  border-left: 2px solid var(--clr-blue-l);
  border-radius: 4px;

  background-color: inherit;

  transition: box-shadow 300ms ease-out;

  &:focus {
    border-top: 2px solid var(--clr-blue);
    border-right: 2px solid var(--clr-blue);
    border-bottom: 2px solid var(--clr-blue);
    border-left: 2px solid var(--clr-blue);

    outline: none;
  }
}

@media (width >= 768px) {
  .select {
    height: 42px;
  }
}
