.vodkaCollection {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  min-height: 100%;

  text-align: center;
}
