.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;

  width: 100%;
}

.input {
  display: block;

  width: 100%;
  height: 40px;
  padding: 4px;

  border: none;
  border-radius: var(--brdr-rad-min);

  background-color: var(--dark-color-background);

  transition: box-shadow 300ms ease-out;

  &::placeholder {
    color: var(--dark-color-tag-green-color);
    font-size: 16px;
  }
}

.inputError {
  position: relative;

  border: 2px solid var(--dark-color-tag-red-color);
}

.input:focus {
  border: 2px solid var(--dark-color-tag-green-border);

  outline: none;
}

.error {
  width: 100%;
  height: 8px;

  text-align: left;
}

.error span {
  display: block;

  color: var(--dark-color-tag-red-color);
  font-size: 10px;
}

// убрать стрелки input[type="number"]
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.input[type="number"],
.input[type="number"]:hover,
.input[type="number"]:focus {
  appearance: none;
  appearance: textfield;
}

@media (width >= 768px) {
  .input {
    height: 52px;
  }
}
