:root {
  --width-max: 1920px;
  --width-container: 1620px;

  // color

  --clr-white: #ffffff;
  --clr-black: #1b1b1b;
  --clr-gray: #232323;
  --clr-gray-l: #505050;
  --clr-blue-d: #020270;
  --clr-blue: #0a08af;
  --clr-blue-l: #5453a7;
  --clr-red: #a7538b;

  --brdr-rad: 4px;
}
