:root {
  --width-max: 1920px;
  --width-container: 1620px;

  // color

  --clr-white: #ffffff;
  --clr-black: #1b1b1b;
  --clr-gray: #232323;
  --clr-gray-l: #505050;
  --clr-gray-vl: #d1d1d1;
  --clr-blue-d: #020270;
  --clr-blue: #0a08af;
  --clr-blue-l: #5453a7;
  --clr-red: #a75365;
  --clr-red-l: #e2abb6;
  --clr-green-l: #90c9b6;

  --dark-color-background: #21242a;
  --dark-color-surface-100: #0c0e12;
  --dark-color-surface-200: #222327;
  --dark-color-surface-300: #32353b;
  --dark-color-surface-400: #ffffff1a;
  --dark-color-surface-500: #3b404b;
  --dark-color-surface-600: #505663;
  --dark-color-surface-700: #101113;
  --dark-color-table-hover: #59595926;
  --dark-color-text-primary: #ffffffd9;
  --dark-color-stroke: #202025;
  --dark-color-tag-green-bg: #112421;
  --dark-color-tag-green-border: #1d5f4d;
  --dark-color-tag-green-color: #59cbac;
  --dark-color-tag-purple-bg: #241121;
  --dark-color-tag-purple-border: #5a2969;
  --dark-color-tag-purple-color: #d686ca;
  --dark-color-tag-red-bg: #2a1215;
  --dark-color-tag-red-border: #58181c;
  --dark-color-tag-red-color: #e84749;
  --dark-color-tag-orange-bg: #2b1d11;
  --dark-color-tag-orange-border: #593815;
  --dark-color-tag-orange-color: #e89a3c;
  --dark-color-tag-blue-bg: #111a2c;
  --dark-color-tag-blue-border: #0f367e;
  --dark-color-tag-blue-color: #3c89e8;
  --dark-color-codemirror-line-hover: rgba(82, 84, 94, 0.2);
  --dark-color-codemirror-line-selection: rgba(82, 84, 94, 0.3);
  --dark-color-login-background: #0a2227;
  --dark-color-login-wave: #0f2d32;
  --dark-color-tooltip: rgba(88, 93, 100, 0.9);
  --dark-color-back-top: rgba(88, 93, 100, 0.9);
  --dark-color-back-top-hover: rgba(88, 93, 100, 1);
  --dark-color-scrollbar: rgb(107, 107, 107);
  --dark-color-scrollbar-webkit: #9f9f9f;
  --dark-color-scrollbar-webkit-hover: #d1d1d1;
  --dark-color-table-ring: rgb(37 39 42);

  --bgr-img-w: linear-gradient(120deg, #c4c4c4, #e8e8e8, #c7c7c7);
  --bgr-img-b: linear-gradient(315deg, #002244, #3457d5);

  --brdr-rad: 20px;
  --brdr-rad-min: 8px;

  --pd: 18px;
}
