.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  width: 100%;
  padding: 20px;

  border-radius: var(--brdr-rad);

  background-color: var(--dark-color-surface-100);
}
